<template>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background: url({{ excercise.image }}) center / cover;">
        <h2 class="mdl-card__title-text">{{ excercise.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        {{ excercise.explanation }}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
        @click="count()"
        >
          Start
        </a>
        <span class="mdl-card__actions--text">{{ timer }}</span>
      </div>
    </div>
</template>

<script>
    var audio = new Audio('public/sounds/alarm.mp3');
    export default {
        props: ['excercise'],
        data() {
            return {
                timer: this.excercise.time
            }
        },
        methods: {
            count: function() {
                var that = this;
                this.handle = setInterval(function() {
                    that.timer--;
                    if(that.timer == 0) {
                        that.stopCount();
                        audio.play();
                        that.timer = that.excercise.time
                    }
                }, 1000);
            },
            stopCount: function() {
                clearInterval(this.handle);
            }
        }
    }
</script>

<style>
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 300px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
    text-shadow: 2px 2px #000000;
}

.mdl-card__actions--text {
    font-size: 14px;
    position: absolute;
    right: 16px;
    bottom: 19px;
}
</style>