<template>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation">
            <!--
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            -->
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">

                <div class="mdl-cell mdl-cell--12-col" v-for="excercise in excercises">

                    <excercise :excercise="excercise"></excercise>

                </div>

            </div>
        </div>
      </main>
    </div>
</template>

<script>
    import Excercise from './components/Excercise.vue';

    export default {
        components: { Excercise },
        data() {
            return {
                excercises: [
                    {
                        title: 'The Runners Stretch',
                        explanation: '(A) Step your right foot forward and lower into a lunge, placing your fingertips on the floor or on two firm cushions if your hands dont reach.(B) Breathe in, then, in one motion, exhale as you straighten your right leg. Slowly return to the lunge position. Repeat four times. Switch sides.',
                        time: 32,
                        image: 'public/img/runners-stretching.jpg'
                    },
                    {
                        title: 'The Standing Side Stretch',
                        explanation: '(A) Stand with your feet together and your arms straight overhead. Clasp your hands together, with your fingers interlaced and pointer fingers extended. Inhale as you reach upward.(B) Breathe out as you bend your upper body to the right. Take five slow breaths. Slowly return to the center. Repeat on the left side.',
                        time: 32,
                        image: 'public/img/standing-sidestretch.jpg'
                    },
                    {
                        title: 'The Forward Hang',
                        explanation: 'Stand with your feet hip-distance apart and your knees slightly bent. (A) Interlace your fingers behind your back. (If your hands don’t touch, hold on to a dish towel.) Breathe in and straighten your arms to expand your chest. (B) Exhale and bend at your waist, letting your hands stretch toward your head. Hold for five deep breaths.',
                        time: 32,
                        image: 'public/img/forward-hang-exercise.jpg'
                    },
                    {
                        title: 'The Low Lunge Arch',
                        explanation: 'Step your right foot forward into a lunge and lower your left knee onto the floor or a folded towel or blanket. (A) Bring your arms in front of your right leg and hook your thumbs together, palms facing the floor. (B) Breathe in as you sweep your arms overhead, stretching as far back as is comfortable. Take five deep breaths. Switch sides.',
                        time: 32,
                        image: 'public/img/low-lunge-arch.jpg'
                    }
                ]
            }
        }
    }
</script>